:root {
  --text: white;
  --text-h: #08060d;
  --bg: #082032;
  --border: #e5e4e7;
  --secondary: #2C394B;
  --thirdary: #334756;
  --accent: #FF4C29;
  --accent-bg: #334756;
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

.Gap{
    min-height: 70px; /* height of taskbar */
}
