/*use bg, secondary, thirdary, text variables from index.css */
.searchPage{
    background-color: var(--bg);
    height: 100vh;
}

.search-container{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.search-input{
    width: 95vw;
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--secondary);
    border-radius: 5px;
    box-shadow: 0 1px 2px black;
    background-color: var(--thirdary);
}

.search-results{
    display: flex;
    justify-content: start;
    min-height: 70vh;
    background-color: var(--bg);
    flex-wrap: wrap;
}

.icon{
    font-size: 6rem;
}

.noresults{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

.error{
    font-size: 3.5rem;
    min-width: 100vw;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}